body {
    background-color: #ffe4c4;
}

.main { /* main UI container */
    width: 30em;
    height: 12em;
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40vh auto;
}

.player {
    margin-top: 30px;
}

.labelContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 24px;
}

#player1Display, #player2Display { /* select both player displays and apply margin and sizing to both */
    margin: 20px 0;
    height: 24px;
    background-color: #f0ffff;
    font-size: 19px;
    
}

.fa-solid, .fa-regular { /* apply font sizing to UI icons */
    font-size: 32px;
}

.fa-repeat {
    font-size: 15px;

}

#switchPlayer {
    margin-left: 20px;
    height: 30px;
    border: 1px solid #f5f5dc;
    background-color: #add8e6;
    border-radius: 5px;

}

#switchPlayer:hover {
    cursor: pointer;
    color: #fff;
    background-color: #808080;
    border: 1px solid #f5f5dc;
}

#switchPlayer:active { /* apply background color and box shadow to button when active */
    background-color: #ffd700;
    box-shadow: 1px 2px 7px 1px #ffd700;
}

.play { /* style buttons to be rounded */
    height: 45px;
    border-radius: 50%;
}

.play:hover { /* toggle effects when user hovers on button */
    cursor: pointer;
    background-color: #ffd700;
}

.play:active {
    transform: translateX(4px) /* shift button to the right when clicked */
}