body {
    background-color: #ffe4c4;
}

#scoreBoard { /* player scoreboard */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    height: 30px;

}


.main{ /* main UI container */
    width: 30em;
    height: 12em;
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10vh auto;
}

.player { /* player board div */
    margin-top: 30px;
}

.labelContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    height: 24px;
}



#player1Display, #player2Display { /* select both player displays and apply margin and sizing to both */
    margin: 20px 0;
    width: 145px;
    height: 24px;
    background-color: #f0ffff;
    font-size: 19px;
    border: none;
    color: #000;
    
}

.fa-solid, .fa-regular { /* apply font sizing to UI icons */
    font-size: 32px;
}

.fa-repeat {
    font-size: 15px;

}

#switchPlayer {
    height: 30px;
    border: 1px solid #f5f5dc;
    background-color: #add8e6;
    border-radius: 5px;

}

#switchPlayer:hover { /* animate button when user hovers */
    cursor: pointer;
    color: #fff;
    background-color: #808080;
    border: 1px solid #f5f5dc;
}

#switchPlayer:active { /* apply background color and box shadow to button when active */
    background-color: #ffd700;
    box-shadow: 1px 2px 7px 1px #ffd700;
}

 .p1Buttons, .p2Buttons { 
    height: 45px;
    border-radius: 50%;
}

 /* .p1Buttons, .p2Buttons:hover { 
    cursor: pointer;
    background-color: #ffd700;
}  */

/* .p1Buttons, .p2Buttons:active { 
    transform: translateX(4px)
}    */